<!-- <nb-layout-column style="padding:.5rem;" [hidden]="ShowWhenSizable"> -->
  <div class="animated flipInX delay-1s">
      <ag-grid-angular id='GridDimensionado' style="height: calc(100vh - 50px);width: 100%;" class="ag-theme-balham"
      [gridOptions]="gridOptions">
    </ag-grid-angular>
    <div class="float" (click)="showModalFiltro()">
      <i class="nb-search"></i>
    </div>
    <ng-template #ModalShowFiltro let-data let-ref="dialogRef">
      <nb-card>
        <nb-card-header>Escolha um filtro:</nb-card-header>
        <nb-card-body style="overflow:visible">
          <div class="p-grid">
            <div class="p-col-12">
              <nb-select multiple placeholder="Selecione" [(ngModel)]="esteirasSelecionadas">
                <nb-option [value]="item.value" *ngFor="let item of esteiras">{{item.label}}</nb-option>
              </nb-select>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer style="display: flex;justify-content: space-between;">
          <button nbButton hero status="danger" (click)="ref.close()">Cancelar</button>
          <button nbButton hero status="success" (click)="filtrarLista(esteirasSelecionadas,ref)">Salvar</button>
        </nb-card-footer>
      </nb-card>
    </ng-template>
  </div>

  <!-- </nb-layout-column> -->
