<nb-card>
  <nb-card-header>Nebula</nb-card-header>
  <nb-card-body *ngFor="let esteiraObj of esteiras" class="esteiraHolder">
    <nb-card>
      <nb-card-body class="esteiraNome">
        <h3>
          {{ esteiraObj.nome }}
        </h3>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body class="esteiraProdMensal">
        <h3>
          {{ esteiraObj.dados.metas.prodMensal }}
        </h3>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <h3>
          {{ esteiraObj.dados.metas.horasPrev }}
        </h3>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <h3>
          {{ esteiraObj.dados.metas.horasEntregues }}
        </h3>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <h3>
          {{ esteiraObj.dados.metas.metaCumprida }}
        </h3>
      </nb-card-body>
    </nb-card>
    <nb-card>
        <nb-card-body>
          <h3>
            {{ esteiraObj.dados.saldo }}
          </h3>
        </nb-card-body>
      </nb-card>
    <nb-card>
      <nb-card-body>
        <h3>
          {{ esteiraObj.dados.metaSemanal.semana1.valor }}
        </h3>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
  <nb-card-footer>By Wikipedia</nb-card-footer>
</nb-card>



<button nbButton (click)="setarGrid()">start</button>
<ag-grid-angular id='Gerenciamento' style="height: calc(100vh - 50px);width: 100%;" class="ag-theme-balham"
[gridOptions]="gridOptions">
</ag-grid-angular>
