.normal {
    background-color: rgb(208, 199, 241) !important;
    font-weight: normal;
    color: rgb(48, 12, 116);
    font-size: 1em;
}

.warning {
    background-color: yellow !important;
    font-weight: normal;
    color: rgb(48, 12, 116);
    font-size: 1em;
}


.danger {
    background-color: red !important;
    font-weight: bolder;
    color: white;
    font-size: 1.2em;
}

.crazy {
    background-color: black !important;
    font-weight: bolder;
    color: white;
    font-size: 1.2em;
}