<ion-header>
  <ion-toolbar>
    <ion-title>
      BRQ SLA
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <!-- <div class="{{setstyle(item)}}" *ngFor="let item of data"> -->
    <!-- <ion-row>
        <ion-col col-2 style="border: 2px">
          <span><b>{{item.id}}</b></span>
        </ion-col>
        <ion-col col-9>
          <span>{{item.status}}</span>
        </ion-col>
        <ion-col col-1>
          <span>{{item.data}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2 style="border: 2px">
          <span><b>{{item.esteira}}</b></span>
        </ion-col>
        <ion-col col-9>
          <span>{{item.tiposla}}</span>
        </ion-col>
      </ion-row>
    </div> -->

    <ion-card class="{{setstyle(item)}}" *ngFor="let item of data">
      <ion-card-header>
        <ion-row>
          <ion-col col-2 style="border: 2px">
            <span><b>{{item.tfs}}</b></span>
          </ion-col>
          <ion-col col-9>
            <span><b>{{item.tiposla}}</b></span>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col col-8>
            <span>{{item.status}}</span>
          </ion-col>
          <ion-col col-1>
            <span>{{item.esteira}}</span>
          </ion-col>
          <ion-col col-1>
            <span>{{item.data}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span style="width: 200px;word-wrap: break-word;">{{item.titulo}}</span>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>