.flipTamanho{

  width: 100%;
  padding-left: 5px;
}
.centralizar{
  align-items: center;
  justify-items: center;
}

.sick-days-warning {
    background-color: sandybrown !important;
}

.warning {
    background-color: yellow !important;
    font-weight: normal;

    color: rgb(48, 12, 116);
}

.danger {
    background-color: red !important;
    color: white;
}

.normal {
    background-color: white !important;
    color: black !important;
}

.crazy {
    background-color: black !important;
    font-weight: bolder;
    color: white;
}

.mainscr {
    padding: 10px;
    background-color: darkblue;
}