<!--The content below is only a placeholder and can be replaced.-->
<nb-layout>
  <nb-layout-column style="padding:.5rem;" [hidden]="ShowWhenSizable">
    <div class="centralizar" *ngIf="SplashScreen.show">
      <div (click)="splashScreenLoadOut()" class="animated {{SplashScreen.animation}} cardSplash">
        <div>
          <img width="300" alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
          <img width="200" alt="Firebase Logo" src="../assets/firebase.png">
        </div>
        <h1>
          Powered by
          <span class="angular">
            Angular
          </span>
          <span>
            and
          </span>
          <span class="firebase">
            Firebase
          </span>
        </h1>
        <span>Versão 1.3.0</span>
      </div>
    </div>

    <div class="float" (click)="showModalFiltro()">
      <i class="nb-search"></i>
    </div>
    <ag-grid-angular id='GridDimensionado' style="height: calc(100vh - 20px);width: 100%;" class="ag-theme-balham"
      [gridOptions]="gridOptions">
    </ag-grid-angular>
    <ng-template #ModalShowFiltro let-data let-ref="dialogRef">
      <nb-card>
        <nb-card-header>Escolha um filtro:</nb-card-header>
        <nb-card-body style="overflow:visible">
          <div class="p-grid">
            <div class="p-col-12">
              <nb-select multiple placeholder="Selecione" [(ngModel)]="esteirasSelecionadas">
                <nb-option [value]="item.value" *ngFor="let item of esteiras">{{item.label}}</nb-option>
              </nb-select>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer style="display: flex;justify-content: space-between;">
          <button nbButton hero status="danger" (click)="ref.close()">Cancelar</button>
          <button nbButton hero status="success" (click)="filtrarLista(esteirasSelecionadas,ref)">Salvar</button>
        </nb-card-footer>
      </nb-card>
    </ng-template>
  </nb-layout-column>

  <nb-layout-column style="padding:.5rem;" [hidden]="!ShowWhenSizable">

    <div class="card animated slideInUp" style="text-align: center">
      <nb-card class="{{formatSrv.formatarCardColor(demanda)}}" *ngFor="let demanda of DataList">
        <nb-card-header>
          <h1>{{ demanda.area }} - {{demanda.tfs}}</h1>
        </nb-card-header>
        <nb-card-body>
          <h5> {{demanda.titulo}} </h5>
          <h5 class="status"> {{demanda.status}} </h5>
          <div class="newDesignTimeLeft">
            <div class="newDesignTimeReal">TEMPO RESTANTE:
              <h4>{{demanda.dataFormatada}} / {{demanda.datafim}}</h4>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>





    <!--    <div class="card" *ngFor="let demanda of DataList">
      <nb-card class="{{formatSrv.formatarCardColor(demanda)}}">
        <nb-card-header>
          <h1>{{ demanda.area }} - {{demanda.tfs}}</h1>
        </nb-card-header>
        <nb-card-body>
          <h5>
            Descrição: {{demanda.titulo}}
          </h5>
          <br>
          <h5>
            Status: {{demanda.status}}
          </h5>
          <br>
          <div>
            <div>
              <h4>Tempo restante:</h4>
              <h4>{{demanda.dataFormatada}}</h4>
            </div>
            <div>
              <h4>Data de entrega:</h4>
              <h4>{{demanda.datafim}}</h4>
            </div>
          </div>

          <div class="timeLeft">
            <div class="timeString">
              <h4>Tempo restante:</h4>
            </div>
            <div class="timeReal">
              <div class="timeData">
                <h4>{{demanda.dataFormatada}}</h4>
              </div>
              <div class="timeDataFim">
                <h4>{{demanda.datafim}}</h4>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div> -->
  </nb-layout-column>
</nb-layout>










<!--    <div class="card" style="text-align: center">
      <nb-card class="normal">
        <nb-card-header>
          <h1>TESTE - TFS 1234</h1>
        </nb-card-header>
        <nb-card-body>
          <h5>TESTE</h5>
          <h5 class="status"> DIMENSIONADO </h5>
          <div class="newDesignTimeLeft">
            <div class="newDesignTimeReal">TEMPO RESTANTE:
              <h4>2h 36m / Qui 13-06</h4>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card class="warning">
        <nb-card-header>
          <h1>TESTE - TFS 1234</h1>
        </nb-card-header>
        <nb-card-body>
          <h5>TESTE</h5>
          <h5 class="status"> DIMENSIONADO </h5>
          <div class="newDesignTimeLeft">
            <div class="newDesignTimeReal">TEMPO RESTANTE:
              <h4>2h 36m / Qui 13-06</h4>
            </div>
          </div>
        </nb-card-body>
      </nb-card>


      <nb-card class="danger">
        <nb-card-header>
          <h1>TESTE - TFS 1234</h1>
        </nb-card-header>
        <nb-card-body>
          <h5>TESTE</h5>
          <h5 class="status"> DIMENSIONADO </h5>
          <div class="newDesignTimeLeft">
            <div class="newDesignTimeReal">TEMPO RESTANTE:
              <h4>2h 36m / Qui 13-06</h4>
            </div>
          </div>
        </nb-card-body>
      </nb-card>


      <nb-card class="crazy">
        <nb-card-header>
          <h1>TESTE - TFS 1234</h1>
        </nb-card-header>
        <nb-card-body>
          <h5>TESTE</h5>
          <h5 class="status"> DIMENSIONADO </h5>
          <div class="newDesignTimeLeft">
            <div class="newDesignTimeReal">TEMPO RESTANTE:
              <h4>2h 36m / Qui 13-06</h4>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div> -->
