<!--The content below is only a placeholder and can be replaced.-->
<div class="mainscr">
  <div class="float">
    +
  </div>
  <div>
    <ag-grid-angular id='GridDimensionado' style="height: 92vh; width: 100%" class="ag-theme-balham" [gridOptions]="gridOptions">
    </ag-grid-angular> 


    <!-- <ag-grid-angular id='GridDimensionado' style="height: 92vh;" class="ag-theme-balham" [rowData]="DataDimensionado"
      [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [rowClassRules]="rowClassRules" [rowHeight]="110"
      [enableSorting]="true">
    </ag-grid-angular> -->


  </div>
</div>
