
.centralizar {
    align-items: center;
    justify-items: center;
}

.sick-days-warning {
    background-color: sandybrown !important;
}

.warning {
    background-color: yellow !important;
    font-weight: normal;
    color: rgb(48, 12, 116);
}

.danger {
    background-color: red !important;
    color: white;
}

.normal {
    background-color: white !important;
    color: black !important;
}

.crazy {
    background-color: black !important;
    font-weight: bolder;
    color: white;
}

::ng-deep nb-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.float {
    background-color: #0c9;
    position: fixed;
    display: flex;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    color: #fff;
    justify-content: center;
    z-index: 100;
    font-size: 3em;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    .nb-plus {
        font-weight: bolder;
    }
}

.card{
  background-color: unset;
  border: none;
}
.timeLeft {
    display: flex;
    .timeString {
        width: 100%;
    }
    .timeReal {
        width: 100%;
        .timeData {
          width: 100%;
          text-align: right;
          border-bottom: solid 0.1rem black;
        }
        .timeDataFim {
          width: 100%;
          text-align: right;
          border-top: solid 0.1rem black;
        }
    }
}
