<nb-layout>
  <nb-layout-header>
    <h4>Demandas</h4>
  </nb-layout-header>
<app-dashboard></app-dashboard>
  <nb-layout-column>
    <div class="p-grid">
      <div class="p-col">
        <nb-flip-card>
          <nb-card-front>
            <nb-card>
              <nb-card-header>O.N.S.</nb-card-header>
              <nb-card-body>
                <ag-grid-angular id='GridDimensionado' style=" height: 53vh;" class="ag-theme-balham" [rowData]="dataDimensionado"
                  [columnDefs]="columnDefs" (gridReady)="onGridReadyDim($event)">
                </ag-grid-angular>
              </nb-card-body>
            </nb-card>
          </nb-card-front>
          <nb-card-back>
            <nb-card>
              <nb-card-body>
                Back
              </nb-card-body>
            </nb-card>
          </nb-card-back>
        </nb-flip-card>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>