.flipTamanho{

  width: 100%;
  padding-left: 5px;
}
.centralizar{
  align-items: center;
  justify-items: center;
}

.sick-days-warning {
    background-color: sandybrown !important;
}
.sick-days-breach {
    background-color: lightcoral !important;
}