<div class="loginHolder">
  <nb-flip-card [showToggleButton]="false" [flipped]="onRegisterPage">
    <nb-card-front>
      <nb-card>
        <nb-card-header>Login</nb-card-header>
        <nb-card-body>
          <form class="loginForm" #LoginForm="ngForm" name="LoginForm" (ngSubmit)="LoginForm.form.valid && onLoginClick(LoginForm)">
            <input type="text" [(ngModel)]="userObj.email" nbInput name="email" #LoginEmail="ngModel" shape="semi-round" placeholder="E-mail">
            <input type="text" [(ngModel)]="userObj.password" nbInput name="password" #LoginPassword="ngModel" shape="semi-round" placeholder="Senha">
          </form>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="onRegisterPage = !onRegisterPage">flipThisNigga</button>
        </nb-card-footer>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card status="danger">
        <nb-card-header>Registro</nb-card-header>
        <nb-card-body>
          <form class="loginForm" #RegisterForm="ngForm" name="RegisterForm" (ngSubmit)="RegisterForm.form.valid && onRegisterClick(LoginForm)">
            <input type="text" nbInput shape="semi-round"  [(ngModel)]="userObj.email"placeholder="E-mail">
            <input type="password" nbInput shape="semi-round" [(ngModel)]="userObj.password" placeholder="Senha">
            <input type="text" nbInput shape="semi-round" [(ngModel)]="userObj.nomeCompleto" placeholder="Nome completo">
            <nb-select hero placeholder="Selecione" [(ngModel)]="userObj.">
              <nb-option [value]="item.value" *ngFor="let item of esteiras">{{item.label}}</nb-option>
            </nb-select>
          </form>
        </nb-card-body>
        <nb-card-footer>
          <button nbButton (click)="onRegisterPage = !onRegisterPage">flipThisNigga</button>
        </nb-card-footer>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>
</div>