.ColunaStatus {
  font-size: 2vw;
}
.ColunaEsteiraEsteira {
  font-size: 2vw;
  padding-top: 10px;
}

.ColunaEsteiraTitulo {
  font-size: 2vw;
}

.ColunaEsteiraDataFormatada {
  font-size: 2vw;
  padding-top: 10px;
}

.ColunaEsteiraDataFim {
  font-size: 2vw;
}
